@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animação do icon de swipe */

.dont_swipe{
    animation: none;
}
.swipe_anime{
    animation-name: swipe_icon_animation;
    animation-duration: 2.5s;
    animation-timing-function:ease-in-out;
}

@keyframes swipe_icon_animation{
    0% {transform: rotate(50deg)}
    25% {transform: rotate(0deg)}
    50% {transform: rotate(50deg)}
    75% {transform: rotate(0deg)}
    100% {transform: rotate(50deg)}
    125% {transform: rotate(0deg)}
}

    
.flip{
    transform: scaleX(-1);
}
